body{
	background-color: #222;
	height: 100%;
}
p{
	font-family: 'Microsoft Yahei';
	font-size: 18px;
}

.blockBtn {
	width: 10%;
	height: 50px;
	background-color: #ffc81f;
	margin: 20px 50px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	text-decoration : none 
}
.blockBtn :hover {
	background-color: #ffff99;
}
.blockBtn .btnFont {
	text-decoration: none;
	line-height: 50px;
	color: #222;
	font-size: 20px;
	font-weight: bold;
}

.disable{
	cursor: not-allowed;
}
