
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1497516585051'); /* IE9*/
  src: url('iconfont.eot?t=1497516585051#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497516585051') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497516585051') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497516585051#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back_icon:before { content: "\e656"; }

.icon-affirm_icon:before { content: "\e657"; }

.icon-add_icon:before { content: "\e658"; }

.icon-close_icon:before { content: "\e659"; }

.icon-copy_icon:before { content: "\e65a"; }

.icon-edit_icon:before { content: "\e65b"; }

.icon-dustbin_icon:before { content: "\e65c"; }

.icon-message_icon:before { content: "\e65d"; }

.icon-love_icon:before { content: "\e65e"; }

.icon-home_icon:before { content: "\e65f"; }

.icon-more_icon:before { content: "\e660"; }

.icon-my_icon:before { content: "\e661"; }

.icon-next_icon:before { content: "\e662"; }

.icon-password_icon:before { content: "\e663"; }

.icon-phone_icon:before { content: "\e664"; }

.icon-picture_icon:before { content: "\e665"; }

.icon-praise_icon:before { content: "\e666"; }

.icon-reduce_icon:before { content: "\e667"; }

.icon-screen_icon:before { content: "\e668"; }

.icon-share_icon:before { content: "\e669"; }

.icon-setup_icon:before { content: "\e66a"; }

.icon-text_icon:before { content: "\e66b"; }

.icon-time_icon:before { content: "\e66c"; }

.icon-transmit_icon:before { content: "\e66d"; }

.icon-folder_icon:before { content: "\e66e"; }

.icon-amplification_icon:before { content: "\e66f"; }

.icon-calendar_icon:before { content: "\e670"; }

.icon-linkman-contacts_ico:before { content: "\e671"; }

.icon-refresh_icon:before { content: "\e672"; }

.icon-shrink_icon:before { content: "\e673"; }

.icon-stick_icon:before { content: "\e674"; }

.icon-sort_icon:before { content: "\e675"; }

.icon-suspend_icon:before { content: "\e676"; }

.icon-warning_icon:before { content: "\e677"; }

.icon-add-friends_icon:before { content: "\e678"; }

.icon-download_icon:before { content: "\e679"; }

.icon-emoji_icon:before { content: "\e67a"; }

.icon-idea_icon:before { content: "\e67b"; }

.icon-female_icon:before { content: "\e67c"; }

.icon-male_icon:before { content: "\e67d"; }

.icon-list_icon:before { content: "\e67e"; }

.icon-search_icon:before { content: "\e67f"; }

.icon-keyboard_icon:before { content: "\e680"; }

.icon-water_icon:before { content: "\e681"; }

.icon-upload_icon:before { content: "\e682"; }

.icon-computer_icon:before { content: "\e683"; }

.icon-e-mail_icon:before { content: "\e684"; }

.icon-credentials_icon:before { content: "\e685"; }

.icon-decoration_icon:before { content: "\e686"; }

.icon-pan_icon:before { content: "\e687"; }

.icon-thermometer_icon:before { content: "\e688"; }

.icon-alarm_clock_icon:before { content: "\e6a3"; }

.icon-batch_processing_ico:before { content: "\e6a4"; }

.icon-bike_icon:before { content: "\e6a6"; }

.icon-code_icon:before { content: "\e6a9"; }

.icon-cup_icon:before { content: "\e6ab"; }

.icon-collect_icon:before { content: "\e6aa"; }

.icon-display_off_icon:before { content: "\e6ac"; }

.icon-fast_forward_icon:before { content: "\e6ad"; }

.icon-fast_reverse_icon:before { content: "\e6ae"; }

.icon-down_arrow_icon:before { content: "\e6af"; }

.icon-forbid_icon:before { content: "\e6b0"; }

.icon-fruit_icon:before { content: "\e6b1"; }

.icon-key_icon:before { content: "\e6b2"; }

.icon-link_icon:before { content: "\e6b3"; }

.icon-loading_icon:before { content: "\e6b4"; }

.icon-menu_icon:before { content: "\e6b5"; }

.icon-money_icon:before { content: "\e6b6"; }

.icon-mouse_icon:before { content: "\e6b7"; }

.icon-network_icon:before { content: "\e6b8"; }

.icon-organization_icon:before { content: "\e6b9"; }

.icon-pet_icon:before { content: "\e6ba"; }

.icon-plug_icon:before { content: "\e6bb"; }

.icon-repeal_icon:before { content: "\e6bc"; }

.icon-quit_icon:before { content: "\e6bd"; }

.icon-resource_icon:before { content: "\e6be"; }

.icon-restaurant_icon:before { content: "\e6bf"; }

.icon-rocket_icon:before { content: "\e6c0"; }

.icon-server_icon:before { content: "\e6c1"; }

.icon-show_icon:before { content: "\e6c2"; }

.icon-shutdown_icon:before { content: "\e6c3"; }

.icon-speed_icon:before { content: "\e6c4"; }

.icon-tailor_icon:before { content: "\e6c5"; }

.icon-timer_icon:before { content: "\e6c6"; }

.icon-transition_icon:before { content: "\e6c7"; }

.icon-up_arrow_icon:before { content: "\e6ca"; }

